@page "/dialog"

@using TerraCloud.Application.DTOs.Device.Requests;

@inherits DialogCreateBase

<div class="close-button-div">
    <RadzenButton Text="X" Click="() => _dialogService.Close(false)" class="close-button" ButtonStyle="ButtonStyle.Danger"/>
</div>

<RadzenCard>
    <RadzenTemplateForm Data="@deviceRequest" Submit="@((AddDeviceRequest args) => OnDeviceAdd(args))">
        <RadzenText class="rz-mb-3">Device unique code</RadzenText>
        <RadzenTextBox @bind-Value=@deviceRequest.UniqueCode class="w-100 rz-mb-3" />

        <RadzenButton ButtonType="ButtonType.Submit" Size="ButtonSize.Large" Icon="save" Text="Add" class="rz-mt-5" />
    </RadzenTemplateForm>
</RadzenCard>
