@page "/animal/create"

@using TerraCloud.Application.DTOs.Animal.Requests;

@inherits CreateBase

@inject Radzen.DialogService dialogService

<RadzenCard>
    <RadzenTemplateForm Data="@animalRequest" Submit="@((AddAnimalUserRequest args) => OnAnimalAdd(args))">
        <RadzenStack>
            <RadzenText class="rz-mb-3">Animal species</RadzenText>
            <RadzenTextBox @bind-Value=@animalRequest.Species class="w-100 rz-mb-3" />

            <RadzenFieldset Text="Day parameters">
                <RadzenText class="rz-mb-3">Day humidity</RadzenText>
                <RadzenNumeric @bind-Value=@animalRequest.DayHumidity />

                <RadzenText class="rz-mb-3">Day temperature</RadzenText>
                <RadzenNumeric @bind-Value=@animalRequest.DayTemperature />
            </RadzenFieldset>

            <RadzenFieldset Text="Night parameters">
                <RadzenText class="rz-mb-3">Night humidity</RadzenText>
                <RadzenNumeric @bind-Value=@animalRequest.NightHumidity />

                <RadzenText class="rz-mb-3">Night temperature</RadzenText>
                <RadzenNumeric @bind-Value=@animalRequest.NightTemperature />
            </RadzenFieldset>

        </RadzenStack>

        <div class="mt-2">
            <RadzenCheckBox @bind-Value=@animalRequest.IsPublic Name="IsPublicCheckBox" />
            <RadzenLabel Text="Is public" Component="IsPublicCheckBox" class="rz-ms-2" />
        </div>

        <div class="mt-2">
            <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Add" />
            <RadzenButton Text="Quit" ButtonStyle="ButtonStyle.Secondary" Click="@(() => QuitClick())" />
        </div>
    </RadzenTemplateForm>
</RadzenCard>
