@page "/animal/details/{Id}"

@inherits DetailsBase

@if(animal is null)
{
    <RadzenText>Loading...</RadzenText>
}
else{
    <h3>Animal Details</h3>

    <RadzenCard>

            <RadzenText class="rz-mb-3">Animal species</RadzenText>
            <RadzenText @bind-Value=@animal.Species class="w-100 rz-mb-3" />

            <RadzenFieldset Text="Day parameters">
                <RadzenText class="rz-mb-3">Day humidity</RadzenText>
                <RadzenText>@animal.DayHumidity</RadzenText>

                <RadzenText class="rz-mb-3">Day temperature</RadzenText>
                <RadzenText>@animal.DayTemperature</RadzenText>
            </RadzenFieldset>

            <RadzenFieldset Text="Night parameters">
                <RadzenText class="rz-mb-3">Night humidity</RadzenText>
                <RadzenText>@animal.NightHumidity</RadzenText>

                <RadzenText class="rz-mb-3">Night temperature</RadzenText>
                <RadzenText>@animal.NightTemperature</RadzenText>
            </RadzenFieldset>

    </RadzenCard>
}
