@page "/animal/edit/{Id}"
@using TerraCloud.Application.DTOs.Animal.Requests

@inherits EditBase

@inject Radzen.DialogService dialogService

@if (animal is null)
{
    <RadzenText>Loading...</RadzenText>
}
else
{
    <RadzenCard>
        <RadzenRow Gap="1rem">
            <RadzenColumn Size="12" SizeSM="6">
                <RadzenStack>

                    <RadzenFormField Text="Animal species">
                        <RadzenTextBox @bind-Value=@animalUpdateRequest.Species class="w-100 rz-mb-3" />
                    </RadzenFormField>

                    <RadzenFieldset Text="Day parameters">
                        <RadzenFormField Text="Day humidity">
                            <RadzenNumeric @bind-Value=@animalUpdateRequest.DayHumidity />
                        </RadzenFormField>

                        <RadzenFormField Text="Day temperature">
                            <RadzenNumeric @bind-Value=@animalUpdateRequest.DayTemperature />
                        </RadzenFormField>
                    </RadzenFieldset>

                    <RadzenFieldset Text="Night parameters">
                        <RadzenFormField Text="Night humidity">
                            <RadzenNumeric @bind-Value=@animalUpdateRequest.NightHumidity />
                        </RadzenFormField>

                        <RadzenFormField Text="Night temperature">
                            <RadzenNumeric @bind-Value=@animalUpdateRequest.NightTemperature />
                        </RadzenFormField>
                    </RadzenFieldset>

                </RadzenStack>

                <div class="mt-2">
                    <RadzenCheckBox @bind-Value=@animalUpdateRequest.IsPublic Name="IsPublicCheckBox" />
                    <RadzenLabel Text="Is public" Component="IsPublicCheckBox" class="rz-ms-2" />
                </div>

                <div class="mt-2">
                    <RadzenButton Text="Save" Click="@(() => SaveClick())" />
                    <RadzenButton Text="Quit" ButtonStyle="ButtonStyle.Secondary" Click="@(() => QuitClick())" />
                </div>

            </RadzenColumn>
        </RadzenRow>
    </RadzenCard>

}
