@using TerraCloud.Client.Pages.Auth
@using TerraCloud.Client.Components

@inherits MainLayoutBase

<AuthorizeView>
    <Authorized>
        <div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>

            <main>
                <div class="top-row px-4">
                    <RadzenDialog />
                    <RadzenProfileMenu>
                        <Template>
                            <RadzenGravatar Email="user@example.com">
                            </RadzenGravatar>
                        </Template>
                        <ChildContent>
                            <MyProfileMenuItem Text="Settings" Click="SettingsClick" Icon="build"></MyProfileMenuItem>
                            <MyProfileMenuItem Text="Log out" Click="LogOutClick" Icon="highlight_off"></MyProfileMenuItem>
                        </ChildContent>
                    </RadzenProfileMenu>
                </div>

                <article class="content px-4">
                    @Body
                    <RadzenNotification />
                </article>
            </main>
        </div>
    </Authorized>
    <NotAuthorized>
        <RadzenNotification />
        <MainAuth/>
    </NotAuthorized>
</AuthorizeView>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
